.searchRow {
	grid-template-columns:
		minmax(300px, 1fr)
		minmax(975px, 1fr)
		minmax(215px, 1fr);
	@media (max-width: 1440px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.newsTable {
	grid-template-columns:
		minmax(222px, 1fr)
		minmax(215px, 1fr)
		minmax(180px, 1fr)
		minmax(160px, 1fr)
		minmax(90px, 1fr)
		minmax(130px, 1fr)
		minmax(273px, 1fr)
		minmax(120px, 1fr)
		minmax(180px, 1fr);
	.checkBoxWrapperNews {
		margin: 14px auto auto 25px;
	}
}

.eventNewsContainer {
	position: relative;
	min-height: 620px;
}
