.inputWrapper {
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: 100%;
  margin-bottom: 6px;
}

.tooltip_age {
	margin-top: 30px;
}

.placeRequest {
	font-size: 14px;
	a {
		font-weight: 600;
		font-size: 14px;
		color: #002c47;
		text-decoration: underline;
	}
}
