.filterInput {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #AFAFAF;
  border-radius: 3px;

  &:focus {
    outline: 1px solid #007aff;
  }
}

:global {
  input.react-dropdown-select-input {
    font-size: 14px;
  }
}

div._select {
  padding: 0px 10px;
  font-size: 14px;
  border: 1px solid #AFAFAF;
  border-radius: 3px;
  max-height: 34px;
  min-height: 34px;
}

div._specialSelect {
  padding: 0px 10px;
  font-size: 14px;
  border: 1px solid #AFAFAF;
  border-radius: 3px;
  max-height: 34px;
  min-height: 34px;
  input {
    margin: 0;
    width: auto;
  }
}

div.filterCont {
  flex-direction: column;
  gap: 0;
  width: max-content;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 7px;
}

._text {
  padding-left: 25px;
  background: url('data:image/svg+xml,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.07407 8.11657C9.73985 7.20736 10.038 6.08009 9.909 4.9603C9.77995 3.8405 9.23319 2.81076 8.37809 2.07709C7.52299 1.34342 6.42263 0.959918 5.29713 1.00332C4.17164 1.04672 3.10402 1.51382 2.30787 2.31117C1.51172 3.10852 1.04576 4.17731 1.00319 5.30372C0.960633 6.43014 1.34462 7.5311 2.07832 8.38634C2.81203 9.24159 3.84135 9.78805 4.96035 9.91639C6.07936 10.0447 7.20552 9.7455 8.11354 9.07856H8.11285C8.13348 9.10608 8.15548 9.13223 8.18023 9.15769L10.8274 11.8069C10.9563 11.936 11.1312 12.0086 11.3136 12.0087C11.496 12.0087 11.6709 11.9363 11.7999 11.8073C11.929 11.6782 12.0015 11.5032 12.0015 11.3207C12.0016 11.1381 11.9292 10.9631 11.8003 10.8339L9.15315 8.1847C9.12856 8.15979 9.10213 8.13748 9.07407 8.11657ZM9.25147 5.47146C9.25147 5.96847 9.15365 6.46061 8.96361 6.91978C8.77356 7.37895 8.49501 7.79616 8.14385 8.1476C7.79269 8.49903 7.37581 8.77781 6.917 8.968C6.45819 9.1582 5.96644 9.25609 5.46983 9.25609C4.97322 9.25609 4.48147 9.1582 4.02266 8.968C3.56385 8.77781 3.14696 8.49903 2.7958 8.1476C2.44465 7.79616 2.16609 7.37895 1.97605 6.91978C1.786 6.46061 1.68819 5.96847 1.68819 5.47146C1.68819 4.46772 2.08661 3.50508 2.79581 2.79533C3.505 2.08558 4.46688 1.68684 5.46983 1.68684C6.47278 1.68684 7.43466 2.08558 8.14385 2.79533C8.85305 3.50508 9.25147 4.46772 9.25147 5.47146Z" fill="%23868686" stroke="%23868686" stroke-width="0.5"/></svg>') no-repeat left 6px center;
}
._date {
  padding-right: 25px;
  background: url('data:image/svg+xml,<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 2.44318C4.79837 2.44318 5.08452 2.32456 5.2955 2.11342C5.50647 1.90227 5.625 1.6159 5.625 1.31729C5.625 1.01869 5.50647 0.732316 5.2955 0.521171C5.08452 0.310026 4.79837 0.191406 4.5 0.191406C4.20163 0.191406 3.91548 0.310026 3.7045 0.521171C3.49353 0.732316 3.375 1.01869 3.375 1.31729C3.375 1.6159 3.49353 1.90227 3.7045 2.11342C3.91548 2.32456 4.20163 2.44318 4.5 2.44318ZM7.875 2.44318C8.17337 2.44318 8.45952 2.32456 8.6705 2.11342C8.88147 1.90227 9 1.6159 9 1.31729C9 1.01869 8.88147 0.732316 8.6705 0.521171C8.45952 0.310026 8.17337 0.191406 7.875 0.191406C7.57663 0.191406 7.29048 0.310026 7.0795 0.521171C6.86853 0.732316 6.75 1.01869 6.75 1.31729C6.75 1.6159 6.86853 1.90227 7.0795 2.11342C7.29048 2.32456 7.57663 2.44318 7.875 2.44318ZM11.25 2.44318C11.5484 2.44318 11.8345 2.32456 12.0455 2.11342C12.2565 1.90227 12.375 1.6159 12.375 1.31729C12.375 1.01869 12.2565 0.732316 12.0455 0.521171C11.8345 0.310026 11.5484 0.191406 11.25 0.191406C10.9516 0.191406 10.6655 0.310026 10.4545 0.521171C10.2435 0.732316 10.125 1.01869 10.125 1.31729C10.125 1.6159 10.2435 1.90227 10.4545 2.11342C10.6655 2.32456 10.9516 2.44318 11.25 2.44318ZM1.125 5.82085C1.42337 5.82085 1.70952 5.70223 1.92049 5.49108C2.13147 5.27994 2.25 4.99356 2.25 4.69496C2.25 4.39635 2.13147 4.10998 1.92049 3.89883C1.70952 3.68769 1.42337 3.56907 1.125 3.56907C0.826631 3.56907 0.540483 3.68769 0.329505 3.89883C0.118526 4.10998 0 4.39635 0 4.69496C0 4.99356 0.118526 5.27994 0.329505 5.49108C0.540483 5.70223 0.826631 5.82085 1.125 5.82085ZM4.5 5.82085C4.79837 5.82085 5.08452 5.70223 5.2955 5.49108C5.50647 5.27994 5.625 4.99356 5.625 4.69496C5.625 4.39635 5.50647 4.10998 5.2955 3.89883C5.08452 3.68769 4.79837 3.56907 4.5 3.56907C4.20163 3.56907 3.91548 3.68769 3.7045 3.89883C3.49353 4.10998 3.375 4.39635 3.375 4.69496C3.375 4.99356 3.49353 5.27994 3.7045 5.49108C3.91548 5.70223 4.20163 5.82085 4.5 5.82085ZM7.875 5.82085C8.17337 5.82085 8.45952 5.70223 8.6705 5.49108C8.88147 5.27994 9 4.99356 9 4.69496C9 4.39635 8.88147 4.10998 8.6705 3.89883C8.45952 3.68769 8.17337 3.56907 7.875 3.56907C7.57663 3.56907 7.29048 3.68769 7.0795 3.89883C6.86853 4.10998 6.75 4.39635 6.75 4.69496C6.75 4.99356 6.86853 5.27994 7.0795 5.49108C7.29048 5.70223 7.57663 5.82085 7.875 5.82085ZM11.25 5.82085C11.5484 5.82085 11.8345 5.70223 12.0455 5.49108C12.2565 5.27994 12.375 4.99356 12.375 4.69496C12.375 4.39635 12.2565 4.10998 12.0455 3.89883C11.8345 3.68769 11.5484 3.56907 11.25 3.56907C10.9516 3.56907 10.6655 3.68769 10.4545 3.89883C10.2435 4.10998 10.125 4.39635 10.125 4.69496C10.125 4.99356 10.2435 5.27994 10.4545 5.49108C10.6655 5.70223 10.9516 5.82085 11.25 5.82085ZM1.125 9.19851C1.42337 9.19851 1.70952 9.07989 1.92049 8.86874C2.13147 8.6576 2.25 8.37123 2.25 8.07262C2.25 7.77402 2.13147 7.48764 1.92049 7.2765C1.70952 7.06535 1.42337 6.94673 1.125 6.94673C0.826631 6.94673 0.540483 7.06535 0.329505 7.2765C0.118526 7.48764 0 7.77402 0 8.07262C0 8.37123 0.118526 8.6576 0.329505 8.86874C0.540483 9.07989 0.826631 9.19851 1.125 9.19851ZM4.5 9.19851C4.79837 9.19851 5.08452 9.07989 5.2955 8.86874C5.50647 8.6576 5.625 8.37123 5.625 8.07262C5.625 7.77402 5.50647 7.48764 5.2955 7.2765C5.08452 7.06535 4.79837 6.94673 4.5 6.94673C4.20163 6.94673 3.91548 7.06535 3.7045 7.2765C3.49353 7.48764 3.375 7.77402 3.375 8.07262C3.375 8.37123 3.49353 8.6576 3.7045 8.86874C3.91548 9.07989 4.20163 9.19851 4.5 9.19851ZM7.875 9.19851C8.17337 9.19851 8.45952 9.07989 8.6705 8.86874C8.88147 8.6576 9 8.37123 9 8.07262C9 7.77402 8.88147 7.48764 8.6705 7.2765C8.45952 7.06535 8.17337 6.94673 7.875 6.94673C7.57663 6.94673 7.29048 7.06535 7.0795 7.2765C6.86853 7.48764 6.75 7.77402 6.75 8.07262C6.75 8.37123 6.86853 8.6576 7.0795 8.86874C7.29048 9.07989 7.57663 9.19851 7.875 9.19851Z" fill="%23868686"/></svg>') no-repeat right 10px center;
}
