section.mainSection {
	margin-bottom: 36px;
	max-width: 1140px;
	.img {
		label {
			font-size: 14px;
		}
	}
	.area {
		margin-bottom: 20px;
	}
  h2.title {
    border-bottom: 0!important;
    padding: 0!important;
    margin-bottom: 12px!important;
  }
	.weightGroup {
		max-width: 170px;
	}
}
