.searchRow {
  grid-template-columns: 
  minmax(300px, 2.65fr)
  minmax(150px, 0.6fr)
  minmax(150px, 0.6fr)
  minmax(200px, 1fr)
  minmax(50px, 0.2fr);
  @media (max-width: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.eventsTable {
  grid-template-columns:
  minmax(300px, 2.5fr)
  minmax(130px, 0.6fr)
  minmax(130px, 0.6fr)
  minmax(200px, 1fr)
  minmax(50px, 0.2fr);

  th:first-child, td:first-child {
  padding-left: 40px;
}
}