.cultureGalleryController {
  width: 175px;
  height: 131px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #E2E2E2;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.cultureGalleryController:hover {
  filter: invert(24%) sepia(37%) saturate(1237%) hue-rotate(164deg) brightness(62%) contrast(90%);
  cursor: pointer;
}