.titleRequestForm {
  font-size: 25px;
  margin-bottom: 0;
  font-weight: 700;
  padding: 0 28px;
}

.requestContent {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  .requestContentLeft {
    flex-grow: 1;
    max-width: 1140px;
    margin-top: 25px;
  }
  .requestContentRight {
    width: 240px;
    min-width: 240px;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}