.docsSection {
  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  span {
    color: #868686;
    font-size: 14px;
  }
  .docsRow {
    flex-direction: column;
    padding: 15px 0;
  }
}