.searchRow {
  grid-template-columns: 
  minmax(300px, 1.5fr)
  minmax(150px, 1.0fr)
  minmax(80px, 0.5fr)
  minmax(0, 1fr)
  minmax(0, 1fr)
  minmax(0, 1fr);
}

.newsTable {
  grid-template-columns:
  minmax(400px, 2.7fr)
  minmax(80px, 0.5fr)
  minmax(140px, 1.2fr)
  minmax(80px, 0.4fr)
  minmax(50px, 0.2fr);
  .checkBoxWrapperObjectNews {
    margin: 14px auto auto 25px;
  }
}

.titleNewsTable {
  max-width: 750px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.objectNewsContainer {
  position: relative;
  min-height: 620px;
}