.searchRow {
  grid-template-columns: 
  minmax(250px, 1fr)
  minmax(250px, 1fr)
  minmax(250px, 250px)
  minmax(250px, 250px);
}

.newsTable {
  grid-template-columns:
  minmax(150px, 150px)
  minmax(150px, 150px)
  minmax(250px, 250px)
  minmax(420px, 420px)
  minmax(180px, 180px)
  minmax(230px, 230px)
  minmax(190px, 1fr);
  .checkBoxWrapperNews {
    margin: 14px auto auto 25px;
  }
  .title {
    margin-left: 3px;
  }
}

.error {
  color: #D9001B;
}

.repeat {
  color: #CA8D00; 
}

.ok {
  color: #026E5B;
}

.date {
  display: flex;
  gap: 14px;
}

.flexEnd {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.eventNewsContainer {
  position: relative;
  min-height: 620px;
}
