.mainBlocksSection {
  box-shadow: none;
  padding: 0;
  margin-bottom: 36px;
  h2 {
    border: none;
    font-size: 25px;
    margin-bottom: 16px;
  }
  .boldCheck {
    p {
      font-weight: 600;
    }
  }
}