.searchRow {
  grid-template-columns: 
  minmax(250px, 1fr)
  minmax(400px, 0.5fr);
}

.newsTable {
  grid-template-columns:
  minmax(150px, 150px)
  minmax(150px, 150px)
  minmax(430px, 430px)
  minmax(120px, 120px)
  minmax(120px, 120px)
  minmax(180px, 180px)
  minmax(230px, 230px)
  minmax(190px, 1fr);
  .checkBoxWrapperNews {
    margin: 14px auto auto 25px;
  }
  .title {
    margin-left: 3px;
  }
}

.date {
  display: flex;
  gap: 14px;
}

.flexEnd {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.eventNewsContainer {
  position: relative;
  min-height: 620px;
}
