
.rowControllers {
  position: absolute;
  right: 0;
  top: 100%;
  display: none;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(1, 61, 86, 0.25);
  border-radius: 5px;
  min-width: 230px;
  z-index: 20;

  button {
    padding: 15px 20px 15px 35px;
    background-position: 13px center;
    background-repeat: no-repeat;
    font-size: 14px;
    width: 100%;
    text-align: left;

    color: #000000;
    transition: all .3s;
    &:hover {
      background-color: #e8e8e8;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #E1E1E1;
    }
  }
}

.rowControllerWrapper {
  position: relative;
  &:hover {
    .rowControllers {
      display: block;
    }
  }
}


.hideBtn {
  background-image: url('data:image/svg+xml,<svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.3369 0.176225C14.1072 -0.0535334 13.7212 -0.0535334 13.4914 0.176225L11.8647 1.80291C10.5597 1.06769 9.26386 0.681694 7.99559 0.681694C3.8048 0.681694 0.514659 4.75301 0.082713 5.50662C-0.027571 5.69043 -0.027571 5.92019 0.082713 6.10399C0.468707 6.7657 1.93916 8.51186 3.97023 9.70661L2.4722 11.2046C2.24244 11.4344 2.24244 11.8204 2.4722 12.0501C2.59168 12.1696 2.73872 12.2248 2.89496 12.2248C3.05119 12.2248 3.19824 12.1696 3.31771 12.0501L14.3369 1.02174C14.5667 0.791978 14.5667 0.405984 14.3369 0.176225ZM1.32341 5.80071C2.10459 4.7622 4.78817 1.87644 8.00478 1.87644C8.96058 1.87644 9.96233 2.16134 10.9825 2.69438L9.95314 3.7237C9.43848 3.20904 8.74001 2.89657 7.99559 2.89657C6.47 2.89657 5.22011 4.13726 5.22011 5.67205C5.22011 6.41646 5.53258 7.11493 6.04724 7.62959L4.83412 8.84271C3.1431 7.92368 1.83807 6.52675 1.31422 5.81909L1.32341 5.80071ZM6.90194 6.77489C6.60785 6.4808 6.42405 6.0948 6.42405 5.66286C6.42405 4.78977 7.1317 4.08212 8.00478 4.08212C8.43673 4.08212 8.82272 4.26593 9.11682 4.56002L6.90194 6.77489Z" fill="black"/><path d="M15.9185 5.49582C15.6703 5.07307 14.9994 4.24594 14.0988 3.428C13.8598 3.20743 13.4738 3.22581 13.2533 3.46476C13.0327 3.7129 13.0511 4.0897 13.29 4.31027C13.9242 4.88926 14.4021 5.43149 14.6686 5.7991C13.8782 6.83761 11.2038 9.72338 7.9872 9.72338C7.77582 9.72338 7.56444 9.71419 7.35306 9.68662C7.0314 9.64985 6.72812 9.87961 6.69136 10.2105C6.6546 10.5413 6.88436 10.8354 7.21521 10.8722C7.47254 10.8997 7.72987 10.9181 7.99639 10.9181C12.1964 10.9181 15.4865 6.8468 15.9185 6.09319C16.0287 5.90939 16.0287 5.67963 15.9185 5.49582Z" fill="black"/></svg>');
}

.removeBtn {
  color: #D9001B;
  background-image: url('data:image/svg+xml,<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6827 3.20349H0.590035C0.433548 3.20349 0.283472 3.14132 0.172819 3.03067C0.0621656 2.92002 0 2.76995 0 2.61346C0 2.45698 0.0621656 2.3069 0.172819 2.19625C0.283472 2.0856 0.433548 2.02344 0.590035 2.02344H11.6827C11.8392 2.02344 11.9893 2.0856 12.0999 2.19625C12.2106 2.3069 12.2727 2.45698 12.2727 2.61346C12.2727 2.76995 12.2106 2.92002 12.0999 3.03067C11.9893 3.14132 11.8392 3.20349 11.6827 3.20349Z" fill="%23D9001B"/><path d="M8.91908 3.04453H3.35938V0.649027C3.35958 0.476958 3.42803 0.311996 3.5497 0.190325C3.67138 0.0686542 3.83634 0.00020819 4.00841 0H8.27004C8.44211 0.00020819 8.60708 0.0686542 8.72875 0.190325C8.85042 0.311996 8.91887 0.476958 8.91908 0.649027V3.04453ZM4.53944 1.86448H7.73901V1.1832H4.53944V1.86448Z" fill="%23D9001B"/><path d="M8.96305 15.0021H3.31602C2.615 15.0013 1.94294 14.7225 1.44725 14.2268C0.951554 13.7311 0.672708 13.059 0.671875 12.358V4.68377C0.671875 4.52729 0.734041 4.37722 0.844694 4.26656C0.955347 4.15591 1.10542 4.09375 1.26191 4.09375C1.4184 4.09375 1.56848 4.15591 1.67913 4.26656C1.78978 4.37722 1.85194 4.52729 1.85194 4.68377V12.358C1.85236 12.7462 2.00675 13.1183 2.28122 13.3928C2.5557 13.6673 2.92785 13.8217 3.31602 13.8221H8.96305C9.35122 13.8217 9.72337 13.6673 9.99784 13.3928C10.2723 13.1183 10.4267 12.7462 10.4271 12.358V4.68377C10.4271 4.52729 10.4893 4.37722 10.5999 4.26656C10.7106 4.15591 10.8607 4.09375 11.0172 4.09375C11.1736 4.09375 11.3237 4.15591 11.4344 4.26656C11.545 4.37722 11.6072 4.52729 11.6072 4.68377V12.358C11.6064 13.059 11.3275 13.7311 10.8318 14.2268C10.3361 14.7225 9.66406 15.0013 8.96305 15.0021Z" fill="%23D9001B"/><path d="M4.79316 11.4873C4.63667 11.4873 4.4866 11.4251 4.37594 11.3145C4.26529 11.2038 4.20312 11.0537 4.20312 10.8972V6.01971C4.20312 5.86323 4.26529 5.71315 4.37594 5.6025C4.4866 5.49185 4.63667 5.42969 4.79316 5.42969C4.94965 5.42969 5.09973 5.49185 5.21038 5.6025C5.32103 5.71315 5.3832 5.86323 5.3832 6.01971V10.8972C5.3832 11.0537 5.32103 11.2038 5.21038 11.3145C5.09973 11.4251 4.94965 11.4873 4.79316 11.4873Z" fill="%23D9001B"/><path d="M7.47285 11.4873C7.31636 11.4873 7.16628 11.4251 7.05563 11.3145C6.94498 11.2038 6.88281 11.0537 6.88281 10.8972V6.01971C6.88281 5.86323 6.94498 5.71315 7.05563 5.6025C7.16628 5.49185 7.31636 5.42969 7.47285 5.42969C7.62933 5.42969 7.77941 5.49185 7.89007 5.6025C8.00072 5.71315 8.06288 5.86323 8.06288 6.01971V10.8972C8.06299 10.9748 8.0478 11.0515 8.01818 11.1232C7.98857 11.1948 7.94511 11.2599 7.8903 11.3147C7.83549 11.3695 7.7704 11.413 7.69877 11.4426C7.62714 11.4722 7.55036 11.4874 7.47285 11.4873Z" fill="%23D9001B"/></svg>');
}

.rowControllerBtn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #E4E9F0;

    svg path {
      fill: #000000;
    }
  }
}


