.mainSection {
  margin-bottom: 55px;
  max-width: 1169px;
}

.inputWrapper {
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: 100%;
  margin-bottom: 25px;
}

.inputWrapperShort {
  max-width: 600px;
  display: flex;
	align-items: center;
	column-gap: 10px;
	width: 100%;
  margin-bottom: 25px;
	position: relative;
}

div.flexRow {
	.phoneInput {
		max-width: 200px;
	}
  .checkbox {
    margin-top: 25px;
  }
}

.tooltip {
	margin-top: 27px;
}

.tooltipSpecial {
  margin-top: 30px;
}

.tooltip_type {
	margin-top: -15px;
}

.tooltip_teg {
	margin-top: 27px;
}

.typeLevelWrapper {
	width: 100%;
}

.tooltip_login {
	position: absolute;
	top: 0;
	left: 250px;
}
