.tableCheckBoxes {
  display: grid;
  gap: 15px 50px;
  grid-template: auto /
  minmax(235px, 235px)
  minmax(180px, 175px)
  minmax(330px, 220px);
  @media (max-width: 1225px) {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
  @media (max-width: 425px) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}