.titleNewsForm {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 700;
  padding: 0 28px;
}

.oneNewsContent {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  .oneNewsContentLeft {
    flex-grow: 1;
    max-width: 1140px;
    margin-top: 5px;
  }
  .oneNewsContentRight {
    width: 240px;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}